extend layout

block content

  form(action='/order/create', method='post', id='neworder')
    | Customer Name:
    input(name='Customer', id='customerName')
    br
    br
    | Ingredient List:
    br
    br
    each ingredient, i in ingredientlist
      | #{ingredient.name}
      input('type='checkbox', value='#{ingredient._id}', name='ingredients')
      br
    br
    br
    button
      | Submit