extend layout

block content

  form(action='/order/create', method='post', id="neworder")
    | Customer Name:
    input(name='Customer', id='customerName')
    br
    br
    | Ingredient List:
    each ingredient, i in ingredientlist
      input('type='checkbox', value='#{ingredient._id}', id='ingredients')
        | #{ingredient.name}
    br
    br
    button
      | Submit