extend layout

)

block content

  div
    | Pending Orders:
    each order, i in orderlist
      form(class='deletething')
        each ingr, j in order.ingredients
          p #{ingr.name}
        input(type="hidden", value="#{order._id}", name="orderid")
        button('type='submit')
          | Completed